body{
	font: 15px/22px arial, Roboto-Regular, "\5FAE\8F6F\96C5\9ED1";
	
background: mintcream;
width: '75%';
font-color: brown;
text-decoration:blink attribute;
      

}
table{padding: 16;
	margin: 5;
	font-size: 15;

}
li {font:arial;
	font-size: 15;
text-align:left;
font-family:comfortaa,cursive,serif,sans-serif;


}